Django==5.2.1
mysqlclient==2.2.7
mysql-connector-python==9.2.0
Pillow==11.2.1
weasyprint==65.1
qrcode==7.4.2
python-dotenv==1.0.1
itsdangerous==2.1.2

# Dependencias para producción
whitenoise==6.6.0
gunicorn==21.2.0
